body
{
    color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    color: palevioletred;
}

#cabecera{
    color:brown
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}